{# EXTENSION DU LAYOUT #}
    {% extends '@App/layout.html.twig' %}

{# TITRE DE LA PAGE #}
    {% block title_page_content %}
        {% trans_default_domain 'admin' %}

        {{ parent() }}
        {{ 'home.title'|trans|upper }}
    {% endblock %}

{# CONTENU DE LA PAGE #}
    {% block page_content %}
        {% trans_default_domain 'admin' %}

        <h1>{{ 'home.welcome'|trans|upper }}</h1>

        <h2>{{ 'home.prizes'|trans }}</h2>


        <ul>
            <li><a href="{{ path('safariz_admin_prize_list') }}">
                    {{ 'prize.list.title'|trans }}
                </a>
            </li>
            <li><a href="{{ path('safariz_admin_prize_create') }}">
                    {{ 'prize.create.title'|trans }}
                </a>
            </li>
        </ul>
    {% endblock %}


