{# EXTENSION DU LAYOUT #}
    {% extends '@App/layout.html.twig' %}

{# TITRE DE LA PAGE #}
    {% block title_page_content %}
        {% trans_default_domain 'default' %}

        {{ parent() }}
        {{ 'play.title'|trans|upper }}
    {% endblock %}

{# CONTENU DE LA PAGE #}
    {% block page_content %}
        {% trans_default_domain 'game' %}

        <div class="container">
            <div class="jumbotron text-center">
                <h2>{{ 'result.title'|trans }}</h2>
                <h3>
                    {% if result == 1 %}
                        {{ 'result.win'|trans }}
                    {% elseif result == 0 %}
                        {{ 'result.loose'|trans }}
                    {% endif %}

                </h3>
            </div>
        </div>

    {% endblock %}


