{% trans_default_domain 'default' %}

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('safariz_home') }}"><b>{{ 'nav.home'|trans({}, 'default')|upper }}</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {#<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{ 'nav.news'|trans }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">


                    </ul>
                </li>#}
                <li>
                    <a href="{{ path('safariz_terms') }}">
                        {{ 'nav.terms'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('safariz_contact') }}">
                        {{ 'nav.contact'|trans({}, 'default') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('safariz_admin_home') }}">
                        {{ 'nav.admin'|trans({}, 'default') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('safariz_iggame_play') }}">
                        {{ 'nav.play'|trans({}, 'default') }}
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{ 'nav.language'|trans }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">{{ 'home.english'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">{{ 'home.francais'|trans }}</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="{{ path('safariz_about') }}">
                        {{ 'nav.about'|trans }}
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

</nav>
