{# EXTENSION DU LAYOUT #}
    {% extends '@App/layout.html.twig' %}

{# TITRE DE LA PAGE #}
    {% block title_page_content %}
        {% trans_default_domain 'admin' %}

        {{ parent() }}
        {{ 'prize.create.title'|trans|upper }}
    {% endblock %}

{# CONTENU DE LA PAGE #}
    {% block page_content %}
        {% trans_default_domain 'admin' %}

         {{ form(monformulaire) }}

        <a class="btn btn-md btn-info" href="{{ path('safariz_admin_prize_list') }}">
            {{ 'prize.list.title'|trans }}
        </a>

    {% endblock %}


