{# EXTENSION DU LAYOUT #}
    {% extends '@App/layout.html.twig' %}

{# TITRE DE LA PAGE #}
    {% block title_page_content %}
        {% trans_default_domain 'admin' %}

        {{ parent() }}
        {{ 'prize.detail.title'|trans|upper }}
    {% endblock %}

{# CONTENU DE LA PAGE #}
    {% block page_content %}
        {% trans_default_domain 'admin' %}


        <div>
            <table class="table">
                <tr>
                    <th>{{ 'prize.field.id'|trans|upper }} :</th>
                    <td>{{ prize.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'prize.field.category'|trans|upper }} :</th>
                    <td>{{ prize.category.label }}</td>
                </tr>

                <tr>
                    <th>{{ 'prize.field.date'|trans|upper }} :</th>
                    <td>{{ prize.dateStart|date('Y-m-d H:i:s') }}</td>
                </tr>

            </table>
        </div>


        <a class="btn btn-md btn-info" href="{{ path('safariz_admin_prize_list') }}">
            {{ 'prize.list.title'|trans }}
        </a>


    {% endblock %}


