{# EXTENSION DU LAYOUT #}
    {% extends '@App/layout.html.twig' %}

{# TITRE DE LA PAGE #}
    {% block title_page_content %}
        {% trans_default_domain 'admin' %}

        {{ parent() }}
        {{ 'prize.list.title'|trans|upper }}
    {% endblock %}

{# CONTENU DE LA PAGE #}
    {% block page_content %}
        {% trans_default_domain 'admin' %}

        {% if prizes|length %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th><b>#</b></th>
            <th>{{ 'prize.field.game'|trans }}</th>
            <th>{{ 'prize.field.id'|trans }}</th>
            <th>{{ 'prize.field.category'|trans }}</th>
            <th>{{ 'prize.field.date'|trans }}</th>
            <th class="text-center">{{ 'action.show'|trans({}, 'default') }}</th>
            <th class="text-center">{{ 'action.update'|trans({}, 'default') }}</th>
            <th class="text-center">{{ 'action.delete'|trans({}, 'default') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for prize in prizes %}

            <tr>
                <td><h4><b>{{ loop.index }}</b></h4></td>
                <td><h4><b>{{ prize.game.label }}</b></h4></td>
                <td><h4><b>{{ prize.id }}</b></h4></td>
                <td><h4><b>{{ prize.category.label}}</b></h4></td>
                <td><h4>{{ prize.dateStart|date('Y-m-d H:i:s') }}</h4></td>
                <td class="text-center">
                    <a href="{{ path('safariz_admin_prize_detail', { 'id': prize.id } ) }}">
                        <button type="button" class="btn btn-success btn-sm"><span
                                    class="glyphicon glyphicon-eye-open glyphicon-align-center"></span>
                        </button>
                    </a>
                </td>
                <td class="text-center">
                    <a href="{{ path('safariz_admin_prize_update', { 'id': prize.id } ) }}">
                        <button type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span></button>
                    </a></td>
                <td class="text-center">
                    <a href="{{ path('safariz_admin_prize_delete', { 'id': prize.id } ) }}">
                        <button type="button" class="btn btn-danger btn-sm"><span
                                    class="glyphicon glyphicon-trash"></span></button>
                    </a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <a class="btn btn-md btn-primary" href="{{ path('safariz_admin_prize_create') }}">
        {{ 'prize.create.title'|trans }}
    </a>

    {% endif %}
    {% endblock %}


